// LINE HEIGHT
$line-height-xs:       16px;
$line-height-sm:       20px;
$line-height-default:  24px;
$line-height-md:       28px;
$line-height-lg:       32px;
$line-height-xl:       36px;
$line-height-xxl:      44px;
$line-height-ml:       56px;

// TEXT-DECORATION
$font-decoration-default: none;
$font-decoration-underline: underline;

// TEXT-TRANSFORM
$font-transform-default:           none;
$font-transform-lower:        lowercase;
$font-transform-upper:        uppercase;
$font-transform-capitalize:  capitalize;
