$icon-size-xxs:      12px;
$icon-size-xs:       14px;
$icon-size-sm:       16px;
$icon-size-default:  20px;
$icon-size-md:       24px;
$icon-size-lg:       32px;
$icon-size-xl:       36px;
$icon-size-xxl:      40px;
$icon-size-xlg:      48px;
